.row {
    justify-content: center;
    align-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

h3 {
    font-size: 2rem;
    display: flex;
    font-family: 'Cairo', sans-serif;
    padding-left: 5%;
    color: white;
    -webkit-text-stroke-width: 1.3px;
    -webkit-text-stroke-color: black;
    text-shadow: 2px 2px black;
    margin: 10px 0 10px 0;
}